---
import { Image } from 'astro:assets';

import VinCheck from './buttonEnterVin.astro';

import avatarOne from '../assets/avatar/avatar-50x50.jpg';
import avatarTwo from '../assets/avatar/avatar2-50x50.jpg';
import avatarThre from '../assets/avatar/avatar3-50x50.jpg';
import forbesLogo from '../assets/logo/forbes-logo.png';
import copartLogo from '../assets/logo/copart-logo.png';
import topGearLogo from '../assets/logo/top-gear-logo.png';
import boschLogo from '../assets/logo/bosch-logo.png';
import bbcLogo from '../assets/logo/bbc-log.png';
---

<section>
    <div
        class="max-w-screen-xl mx-auto py-12 px-6 flex flex-wrap items-center justify-between"
    >
        <div class="w-full lg:w-1/2 mb-6 lg:mb-0">
            <div class="flex items-center mb-4">
                <img
                    src="https://placehold.co/50x50"
                    alt="EpicVIN logo"
                    class="h-10 mr-2"
                />
                <span class="text-lg font-semibold">VEHICLE HISTORY REPORT</span
                >
            </div>
            <h1 class="text-3xl font-bold">
                Save Yourself Thousands With A Comprehensive Vehicle History
                Report
            </h1>
            <p class="text-gray-700 mt-2">
                Your Free VIN Check is just a click away
            </p>
    
            <VinCheck />

            <div class="mt-2 text-sm text-gray-500">
                <a href="#" class="underline">Where to find the VIN?</a> • <a
                    href="#"
                    class="underline">No VIN? Get vin reports</a
                >
            </div>
            <div class="mt-6 flex items-center">
                <div class="avatar-group -space-x-4">
                    <div class="avatar">
                        <div class="w-8">
                            <Image src={avatarOne} alt="A bird." width="32" height="32" loading={'eager'}/>
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-8">
                            <Image src={avatarTwo} alt="A bird." width="32" height="32" loading={'eager'}/>
                        </div>
                    </div>
                    <div class="avatar">
                        <div class="w-8">
                            <Image src={avatarThre} alt="A bird." width="32" height="32" loading={'eager'} />
                        </div>
                    </div>
                </div>
                <p class="text-gray-700 ml-2">
                    Trusted globally by <span class="font-bold">1,000,000+</span
                    > users across <span class="font-bold">150+</span> nations
                </p>
            </div>
            <div class="mt-6 flex flex-wrap items-center space-x-4">
              
                <Image src={forbesLogo} alt="A bird." width="64" height="32" loading={'eager'}/>
                <Image src={copartLogo} alt="A bird." width="64" height="32" loading={'eager'}/>
                <Image src={topGearLogo} alt="A bird." width="64" height="32" loading={'eager'}/>               
                <Image src={boschLogo} alt="A bird." width="64" height="32" loading={'eager'}/>
                <Image src={bbcLogo} alt="A bird." width="64" height="50" loading={'eager'}/>

            </div>
        </div>
        <div class="w-full lg:w-1/2 flex justify-center lg:justify-end">
            <div class="relative">
                <img
                    src="https://placehold.co/400x500"
                    alt="Damaged 2016 Audi S Line"
                    class="w-full rounded-lg"
                />
           
            </div>
        </div>
    </div>
</section>
